.wrapper {
    background-color: antiquewhite;
    height: 558px;
    color: rgba(0, 0, 0, 0.6);
}
.form {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 15px;
}
input[type='email'],
input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
}
.btn-submit {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover {
        opacity: 0.8;
    }
    border-radius: 20px;
}
