.wrapper {
    // Default layout
    position: relative;
    background-color: #f0e5cf;
    height: 2000px;
}

.content {
    display: flex;
    align-items: center;
    margin-left: 55px;
    width: 100%;
    color: black;
    position: absolute;
    top: 60px;
    justify-content: space-between;
}
.title {
    width: 500px;
    margin-left: 55px;
}
.image {
    width: 600px;
    height: 600px;
    // border-radius: 3px;
    // box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.56);
}
.action {
    margin-top: 10px;
}
